apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manifests/kustom-deployment.yaml
- manifests/service.yaml
images:
- name: gcr.io/PROJECT_ID/IMAGE:TAG
  newName: jakousa/dwk-app6:4bc5f70a13558102c333118c6e042f1723774351
