apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{{ deployment_name }}}
  namespace: {{{ namespace }}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{{ name }}}
  template:
    metadata:
      labels:
        app: {{{ name }}}
    spec:
      containers:
        - name: {{{ name }}}
          image: {{{ image }}}
          command: ["{{{ length }}}"]
